@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<link rel="stylesheet" href="~/css/leaflet.css" />

<link rel="stylesheet" href="~/css/MarkerCluster.min.css" />
<link rel="stylesheet" href="~/css/MarkerCluster.Default.min.css" />







<div class="center">
    <h1 class="display-4">Välkommen</h1>
</div>

<div class="dropdown-header">
    <h1 class="display-4">Vad vill du hitta?</h1>
</div>

<div class="Button" type="Button">

    <div class="Search">
        <input type="text" placeholder="Search..." />
    </div>
</div>

<div class="panel-container">

    <div class="panel-container.visible">
    </div>
</div>

<div class="panel-header">
</div>

<div class="panel-content">
</div>



<div id="infoboxBackground" style="visibility: hidden;">
    <div id="latitude" > 
    </div>

    <div id="longitude">
    </div>

    <div id="display_name">
    </div>

    <div id="road">
    </div>

    <div id="village">
    </div>

    <div id="isolated_dwelling">
    </div>

    <div id="municipality">
    </div>

    <div id="city_district">
    </div>

    <div id="city">
    </div>
    
    <div id="state">
    </div>

    <div id="ISO3166-2-lvl4">
    </div>

    <div id="region">
    </div>

    <div id="ISO3166-2-lvl3">
    </div>

    <div id="postcode">
    </div>

    <div id="country">
    </div>

    <div id="country_code">
    </div>

    <div id="town">
    </div>

    <div id="county">
    </div>

    <div id="ResponseCode">
    </div>

<div class="filterBox">
    <div class="filterboxWindow">
        <form class="filterSearchbox">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" class="filterSubmit" style="border-radius: 50%;"><img src="~/imgs/SearchIcon.png" alt="Search Icon" /></button>
        </form>

        <form class="searchCountry">
            <input type="text" placeholder="Country:" name="Country">
            <button type="submit" class="countrySubmit"><img src="~/imgs/SearchIcon.png" alt="Search Icon" /></button>
        </form>

        <form class="searchCity">
            <input type="text" placeholder="City:" name="City">
            <button type="submit" class="citySubmit"><img src="~/imgs/SearchIcon.png" alt="Search Icon" /></button>
        </form>

        <form class="searchLong">
            <input type="text" placeholder="Longitude:" name="Long">
            <button type="submit" class="longSubmit"><img src="~/imgs/SearchIcon.png" alt="Search Icon" /></button>
        </form>

        <form class="searchLat">
            <input type="text" placeholder="Latitude:" name="Lat">
            <button type="submit" class="latSubmit"><img src="~/imgs/SearchIcon.png" alt="Search Icon" /></button>
        </form>

        <p class="FilterLine"> Filters on this page </p>

        <div class="dropdownDisplay">
            <button class="dropdownBtn"> Division </button>
                <div class="dropdownContent">
                    <a href="#"> Link 1</a>
                    <a href="#"> Link 2</a>
                    <a href="#"> Link 3</a>
            </div>
        </div>

        <div class="filteringDisplay">
            <button class="filteringButton"> Filtering type </button>
            <div class="filteringdisplayContent">
                <a href="#"> Basic Filtering</a>
                <a href="#"> Advanced Filtering</a>
            </div>
        </div>

        <div class="filterboxDivider"></div>


    </div>
</div>

<div id="map" style="height: 1000px;">
</div>
        
 

<div id="map" style="height: 750px;">
</div>



<style>

    body {
    background-color: black;
    }


    .center h1.display-4 {
    color: black;
    text-align: center
    }

    .dropdown-header h1.display-4 {
    text-align: center;
    }

    .Button {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    border: 2px solid white;
    padding: 5px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center
    }

    .Search input {
    text-align: center;
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 285px;
    box-sizing: border-box;
    }

    .panel-container {
    position: absolute;
    top: 0;
    left: -450px;
    width: 450px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
    transition: left 0.5s ease-in-out;
    z-index: 1000;
    }

    .panel-container.visible {
    opacity: 1;
    }

    .panel-header {
    height: 50px;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    }

    .panel-content {
     padding: 10px;
    }

    .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    }

   

    .infoboxBackground {
    position: absolute;
    height: 600px;
    width: 400px;
    max-width: 400px;
    top: 25%;
    right: 35px;
    padding: 10px;
    border-radius: 15px;
    background-color: #f5f5f5;
    }

    #infoboxImage img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }

    #pricePoint {
    position: absolute;
    height: 35px;
    width: 100px;
    bottom: -50px;
    right: 15px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: #f5f5f5;
    }

    #textPrice {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font: 800;
    position: absolute;
    left: 29px;
    top: 2px;
    }

    #Information {
    font-family: Arial;
    }

    #Information #nameofPlace {
    color: black;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    bottom: 35%;
    left: 30px;
    }


    .infobox {
    opacity: 0.0;
    }



    #map {
    right: 8%;
    top: 10px;
    width: 1500px;
    z-index: 1;
    }

    .leaflet-popup-content-wrapper {
       
        
    }
    .leaflet-popup-content {
       
    }

    .filterboxWindow{
    position: absolute;
    height: 60%;
    width: 200px;
    max-width: 400px;
    top: 25%;
    left: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: #f5f5f5;
    }


    form.filterSearchbox input[type=text]{
    position: absolute;
    top: 15px;
    width: 90%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    }

    
    form.filterSubmit button{
    position: absolute;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    }

    .filterSubmit img{
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 20px;
    top: 20px;
    right: 15px;
    }

    form.searchCountry input[type=text]{
    position: absolute;
    width: 90%;
    top: 60px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    }

    .countrySubmit img{
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 20px;
    top: 65px;
    right: 15px;
    }

    form.searchCity input[type=text]{
    position: absolute;
    width: 90%;
    top: 107px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    }

    .citySubmit img{
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 20px;
    top: 112px;
    right: 15px;
    }

    form.searchLong input[type=text]{
    position: absolute;
    width: 90%;
    top: 153px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    }

    .longSubmit img {
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 20px;
    top: 158px;
    right: 15px;
    }

    form.searchLat input[type=text]{
    position: absolute;
    width: 90%;
    top: 200px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    }

    .latSubmit img{
    position: absolute;
    border-radius: 50%;
    height: 25px;
    width: 20px;
    top: 205px;
    right: 15px;
    }

    .filterboxDivider {
    position: absolute;
    width: 90%;
    top: 280px;
    border-bottom: 1px solid black;
    }

    .FilterLine{
    position: absolute;
    top: 250px;
    }

    .dropdownBtn{
    background-color: white;
    color: white;
    height: 28px;
    width: 150px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    }

    .dropdownDisplay{
    position: absolute;
    top: 300px;
    right: 27px;
    display: inline-block;
    }

    .dropdownContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdownContent a{
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    }

    .dropdownContent a:hover{background-color: #ddd;}
    .dropdownDisplay:hover .dropdownContent {display: block;}
    .dropdownDisplay:hover .dropdownBtn {background-color: #3e8e41;}

    .filteringButton{
    background-color: white;
    color: white;
    height: 28px;
    width: 150px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    }

    .filteringDisplay{
    position: absolute;
    top: 350px;
    right: 27px;
    display: inline-block;
    }

    .filteringdisplayContent{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .filteringdisplayContent a{
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    }

    .filteringdisplayContent a:hover{background-color: #ddd;}
    .filteringDisplay:hover .filteringdisplayContent {display: block;}
    .filteringDisplay:hover .filteringButton {background-color: #3e8e41;}

</style>

<script src="~/js/leaflet.js"></script>
<script src="~/js/leaflet.markercluster.js"></script>

<script src="js/map.js"></script>
