@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<link rel="stylesheet" href="~/css/leaflet.css" />

<link rel="stylesheet" href="~/css/MarkerCluster.min.css" />
<link rel="stylesheet" href="~/css/MarkerCluster.Default.min.css" />






<div class="center">
    <h1 class="display-4">Välkommen</h1>
</div>

<div class="dropdown-header">
    <h1 class="display-4">Vad vill du hitta?</h1>
</div>

<div class="Button" type="Button">

    <div class="Search">
        <input type="text" placeholder="Search..." />
    </div>
</div>

<div class="panel-container">

    <div class="panel-container.visible">
    </div>
</div>

<div class="panel-header">
</div>

<div class="panel-content">
</div>





<div class="infobox"  @* onclick="myIcon(iconUrl = 'imgs/MarkerIcon.jpg')" *@ KeyboardEvent="enter1">
    <div class="infoboxwindow">
        <div class="infoboxBackground">
            <div id="infoboxImage">
                <img src="~/imgs/pexels-johannes-plenio-1423600.jpg" />
                <div id="pricePoint">
                    <p id="textPrice">£ 128</p>
                </div>
            </div>
            <div class="infoboxInformation">
                <div id="Information">
                    <p id="nameofPlace"> Salty Springs</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map" style="height: 1000px;">
</div>



<style>

    body {
        background-color: black;
    }


    .center h1.display-4 {
        color: black;
        text-align: center
    }

    .dropdown-header h1.display-4 {
        text-align: center;
    }

    .Button {
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        border: 2px solid white;
        padding: 5px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .Search input {
        text-align: center;
        color: black;
        background: white;
        border: 1px solid black;
        border-radius: 25px;
        padding: 10px;
        width: 285px;
        box-sizing: border-box;
    }

    .panel-container {
        position: absolute;
        top: 0;
        left: -450px;
        width: 450px;
        height: 100%;
        background-color: white;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
        transition: left 0.5s ease-in-out;
        z-index: 1000;
    }

        .panel-container.visible {
            opacity: 1;
        }

    .panel-header {
        height: 50px;
        padding: 10px;
        background-color: transparent;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .panel-content {
        padding: 10px;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }

   

    .infoboxBackground {
        position: absolute;
        height: 600px;
        width: 400px;
        max-width: 400px;
        top: 25%;
        right: 35px;
        padding: 10px;
        border-radius: 15px;
        background-color: #f5f5f5;
    }

    #infoboxImage img {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 100%;
        height: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #pricePoint {
        position: absolute;
        height: 35px;
        width: 100px;
        bottom: -50px;
        right: 15px;
        border: 1px solid white;
        border-radius: 15px;
        background-color: #f5f5f5;
    }

    #textPrice {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        font: 800;
        position: absolute;
        left: 29px;
        top: 2px;
    }

    #Information {
        font-family: Arial;
    }

        #Information #nameofPlace {
            color: black;
            font-size: 22px;
            font-weight: 600;
            position: absolute;
            bottom: 35%;
            left: 30px;
        }


        .infobox {
           opacity: 0.0;
        }



    #map {
        right: 8%;
        top: 10px;
        width: 1500px;
        z-index: 1;
    }

   

</style>


<script src="~/js/leaflet.js"></script>
<script src="~/js/leaflet.markercluster.js"></script>

<script src="js/map.js"></script>