@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn x about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="dropdown-header">
    <h1 class="display-4">Karta över företag</h1>

    <div class="karta" id="map"> 
        
        <script src="map.js"> </script>

    </div>


    
</div>

